* {
  box-sizing: content-box; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #008383;
  width: 100%; }
  header > h1 {
    color: white;
    border: 1;
    text-align: center; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main {
  width: 70%; }

section {
  padding: 0.5em; }
  section#lista > div {
    margin-top: 1em;
    padding-left: 1em;
    border: solid 1px black;
    border-radius: 1em; }

nav {
  display: none; }
  nav#add-search > div.content form .form-row {
    display: flex;
    gap: 1rem; }
    nav#add-search > div.content form .form-row .form-group {
      display: flex;
      flex-direction: column;
      flex: 1; }

.lds-ring {
  display: none;
  position: relative;
  width: 80px;
  height: 80px; }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #008383;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #008383 transparent transparent transparent; }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s; }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s; }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#loading-screen {
  display: none;
  background: rgba(0, 0, 0, 0.2) no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0.5rem;
  cursor: pointer;
  user-select: none; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc; }

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
